@{
    ViewBag.Title = "Messaging | Resend Payslip";
    Layout = "~/Views/Shared/Layout/_adminPayrollLayout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Reports</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ResendPaySlips","PayrollMessaging")"> Resend Payslip </a></li>
</ul>