@{
    ViewBag.Title = "Messaging | Messaging";
    Layout = "~/Views/Shared/Layout/_adminPayrollLayout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Reports</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Messaging","PayrollMessaging")"> Messaging </a></li>
</ul>


