@{
    ViewBag.Title = "Business Profile";
    Layout = "~/Views/Shared/Layout/_adminRentalLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Setups</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("RentalSharedResource","CompanyProfile")"> Business Profile </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Business Profile </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">

                    <form>

                        <fieldset class="form-group">
                            <legend><span> Basic Info </span></legend>

                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> Company Name:</b> </label>
                                        <input type="text" class="form-control" v-model="companyName" placeholder="Company Name">

                                    </div>


                                      <div class="form-group">
                                        <label> <b> Country: </b>  </label>
                                            <select class="form-control mb-3" v-model="countryId" ref="countryId">
                                            <option value=""> Select Country </option>
                                            <option :value="country.id" v-for="country in nationalityList">{{country.name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label> <b> City: </b> </label>
                                        <input type="text" class="form-control" v-model="cityName" placeholder="City or Location">

                                    </div>

                                    <div class="form-group">
                                        <label> <b> Phone No: </b>  </label>
                                        <input type="text" class="form-control" id="phoneNo" v-model="phoneNo" placeholder="Phone No">

                                    </div>

                                    <div class="form-group">

                                        <label> <b> Default Currency: </b> </label>

                                        <select class="form-control mb-3" v-model="defaultCurrenyId" id="defaultCurrenyId">
                                            <option :value="currency.id" v-for="currency in currencyList"> {{currency.currencyName}} </option>
                                        </select>
                                       
                                    </div>

                                </div>

                                <div class="col-sm-4">

                                     <div class="form-group">
                                        <label> <b> Company TIN: </b> </label>
                                        <input type="text" class="form-control" v-model="companyTin" placeholder="Company Tin">

                                    </div>

                                    <div class="form-group">
                                        <label> <b> Email: </b> </label>
                                        <input type="text" class="form-control" v-model="email" placeholder="Email">

                                    </div>
                                     
                                    <div class="form-group">
                                        <label> <b> Address: </b> </label>
                                        <input type="text" class="form-control" v-model="address" placeholder="Address">

                                    </div>

                                    <div class="form-group">

                                        <label> <b> First Month Of FiscalYear: </b> </label>

                                        <select class="form-control mb-3" id="firstMonthOfFiscalYear" v-model="firstMonthOfFiscalYear">
                                            <option value="1"> January </option>
                                            <option value="2"> February </option>
                                            <option value="3"> March </option>
                                            <option value="4"> April </option>
                                            <option value="5"> May </option>
                                            <option value="6"> June </option>
                                            <option value="7"> July </option>
                                            <option value="8"> August </option>
                                            <option value="9"> September </option>
                                            <option value="10"> October </option>
                                            <option value="11"> November </option>
                                            <option value="12"> December </option>
                                        </select>
                                    </div>
                                    
                                </div>


                            </div>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend><span> SMS </span></legend>

                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> SMS Sender Address: </b> </label>
                                        <input type="text" class="form-control" readonly v-model="senderId" placeholder="Sender Address">

                                    </div>

                                    <div class="form-group">
                                        <label> <b> Client ID: </b> </label>
                                        <input type="text" class="form-control" readonly v-model="clientId" placeholder="ClientId">

                                    </div>
                                     

                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> Client Secret: </b> </label>
                                        <input type="text" class="form-control" readonly v-model="clientSecret" placeholder="Client Secret">

                                    </div>


                                </div>


                            </div>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend><span> SSNIT </span></legend>

                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> Employer Social Security No: </b> </label>
                                        <input type="text" class="form-control" v-model="employerSocialSecurityNo" placeholder="Employer Social Security No">

                                    </div>

                                    <div class="form-group">
                                        <label> <b> Social Security Fund Employer Rate: </b> </label>
                                        <input type="text" class="form-control" v-model="socialSecurityFundEmployerRate" placeholder="Social Security Fund Employer Rate">

                                    </div>

                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">

                                        <label> <b> Social Security Fund Employee Rate: </b> </label>
                                        <input type="text" class="form-control" v-model="socialSecurityFundEmployeeRate" placeholder="Social Security Fund Employee Rate">

                                    </div>

                                    <div class="form-group">

                                        <label class="checkbox checkbox-primary mt-4">
                                            <input type="checkbox" v-model="paySocialSecurityFund"> <span> <strong> Pay Social Security Fund ? </strong>   </span> <span class="checkmark"></span>
                                        </label>

                                    </div>

                                </div>


                            </div>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend><span> Provident Fund </span></legend>

                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> Provident Fund Employee Rate: </b> </label>
                                        <input type="text" class="form-control" v-model="providentFundEmployeeRate" placeholder="Provident Fund Employee Rate">

                                    </div>

                                    <div class="form-group">

                                        <label> <b> Provident Fund Employer Rate: </b> </label>
                                        <input type="text" class="form-control" v-model="providentFundEmployerRate" placeholder="Provident Fund Employer Rate">

                                    </div>

                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="providentFundTreatAsSocialSecurityFund"> <span> <strong> Treat Provident Fund As Social Security Fund ? </strong>   </span> <span class="checkmark"></span>
                                        </label>

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="payProvidentFund"> <span> <strong> Pay Provident Fund ? </strong> </span> <span class="checkmark"></span>
                                        </label>

                                        <br/>

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="providentFundTaxEmployerPortion"> <span> <strong> Provident Fund Tax Employer Portion ? </strong> </span> <span class="checkmark"></span>
                                        </label>

                                    </div>

                                   

                                </div>


                            </div>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend><span> 2nd Provident Fund </span></legend>

                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> Second Provident Employee Rate: </b> </label>
                                        <input type="text" class="form-control" v-model="secondProvidentEmployeeRate" placeholder="Provident Fund Employee Rate">

                                    </div>

                                    <div class="form-group">

                                        <label> <b> Second Provident Employer Rate: </b> </label>
                                        <input type="text" class="form-control" v-model="secondProvidentEmployerRate" placeholder="Provident Fund Employer Rate">

                                    </div>

                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="paySecondProvidentOrOthers"> <span> <strong> Pay Second Provident Or Others ? </strong>   </span> <span class="checkmark"></span>
                                        </label>

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="treatSecondProvidentAsSSF"> <span> <strong> Treat Second Provident As SSF ? </strong> </span> <span class="checkmark"></span>
                                        </label>

                                        <br />

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="secondProvidentTaxEmployerPortion"> <span> <strong> Second Provident Tax Employer Portion ? </strong> </span> <span class="checkmark"></span>
                                        </label>

                                    </div>



                                </div>


                            </div>

                        </fieldset>

                        <fieldset class="form-group">
                            <legend><span> Overtime </span></legend>

                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="overtimePercentageOnBasicSalary"> <span> <strong> Overtime Percentage On Basic Salary ? </strong>   </span> <span class="checkmark"></span>
                                        </label>

                                        <label class="checkbox checkbox-primary mt-3">
                                            <input type="checkbox" v-model="overtimePercentageOnDailyWage"> <span> <strong> Overtime Percentage On Daily Wage ? </strong> </span> <span class="checkmark"></span>
                                        </label>
                                    </div>


                                </div>

                                

                            </div>

                        </fieldset>
                       
                        <fieldset class="form-group">
                            <legend><span>  Email Settings </span></legend>
                            <div class="row">

                                <div class="col-sm-1">
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b>Mail Host Name: </b> </label>
                                        <input type="text" class="form-control" v-model="mailHostName" placeholder="Mail Host Name">

                                    </div>

                                    <div class="form-group">
                                        <label> <b>Primary Email Address: </b> </label>
                                        <input type="text" class="form-control" v-model="primaryEmailAddress" placeholder="Primary Email Address">

                                    </div>

                                    <div class="form-group">
                                        <label> <b>Mail Password: </b> </label>
                                        <input type="password" class="form-control" v-model="emailPassword" placeholder="********">

                                    </div>


                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        <label> <b> Port Number: </b> </label>
                                        <input type="number" class="form-control" v-model="portNumber" placeholder="1234">

                                    </div>

                                    <div class="form-group">
                                        <label> <b> Is SSL Enabled: </b> </label>
                                        <select class="form-control mb-3" v-model="isSSLEnabled">
                                            <option value="false">No</option>
                                            <option value="true">Yes</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                        </fieldset>

                        <hr />

                        <div class="row">

                            <div class="col-sm-3"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">

                                <button type="button" :disabled="isLoading" v-on:click="saveProfile()" style="float: right" class="btn btn-primary">
                                    Save

                                    <div class="spinner-border" v-if="isLoading" role="status" aria-hidden="true" style="width: 20px; height: 20px"></div>

                                </button>

                            </div>

                        </div>

                    </form>


                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/js/shared/company-profile.js" asp-append-version="true"></script>