@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/Layout/_adminRentalLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Shared Resource</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Departments","RentalSharedResource")"> Departments </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Departments </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">

                    
                        <div class="row">

                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-3">

                                <div class="form-group">
                                    <label> <strong> Department: </strong> </label>
                                    <input type="text" class="form-control" v-model="name" id="name" placeholder="Department Name">

                                </div>

                            </div>

                            <div class="col-sm-3">

                                <div class="form-group">
                                    <label> <strong> Parent Hierachy: </strong>  </label>
                                    <select class="form-control" v-model="parentId" type="text">
                                        <option value=""> Select Parent Hierachy </option>
                                        <option :value="department.id" v-for="department in departmentHierachyList"> {{department.name}} </option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-sm-2 mt-2">
                                <div class="form-group">
                                    <br />
                                    <button type="button" v-on:click="saveDepartment()" :disabled="isLoading" class="btn btn-primary">
                                        Save

                                        <i class="fa fa-spinner fa-spin" v-if="isLoading"></i>
                                    </button>

                                </div>

                            </div>

                        </div>
                        <hr />

                    <div id="dataTable"></div>
                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/js/shared/departments.js" asp-append-version="true"></script>