@{
    ViewBag.Title = "Property Types";
    Layout = "~/Views/Shared/Layout/_adminRentalLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Rental Setups </a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("PropertyTypes","RentalSetups")"> Property Types </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Property Types </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">

                    <div id="dataTable"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="~/js/property-rental/setups/property-types.js" asp-append-version="true"></script>