@{
    ViewBag.Title = "Messaging | Send From Excel";
    Layout = "~/Views/Shared/Layout/_adminSchLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Messaging </a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("SendFromExcel","Messaging")"> Send From Excel </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Send From Excel </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">

                    <div class="row">

                        <div class="col-sm-1"> </div>

                        <div class="col-sm-3">

                            <div class="form-group">
                                <label>  <strong> Subject: </strong>  </label>
                                <input id="msgSubject" name="MsgSubject" placeholder="Message Subject" type="text" class="form-control" />

                            </div>

                        </div>

                        <div class="col-sm-2">

                            <div class="form-group">
                                <label> <strong> Message Channel: </strong>  </label>
                                <select class="form-control" v-model="messagingChannel" ref="messagingChannel">
                                    <option value="sms">SMS</option>
                                    <option value="email">Email</option>
                                    <option value="telegram">Telegram</option>
                                </select>
                            </div>

                        </div>


                        <div class="col-sm-3">

                            <div class="form-group">

                                <label> <strong> Choose File: </strong> <a style="color:#3498DB;" href="@Url.Action("DownloadMessagingUploadSample","SchMessaging")"> <b> Download Template </b></a> </label>
                                <input type="file" name="customFile" v-on:change="onFileUpload($event)" class="form-control" required>

                            </div>

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label> <strong> Message: </strong>  </label>
                                <textarea rows="4" class="form-control" placeholder="Type Message Here..." v-model="message" name="Message"></textarea>
                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-sm-11">
                            <div class="form-group">
                                <br />
                                <button type="button" v-on:click="sendMessage()" :disabled="isLoading || (!uploadFileInput && !message)" class="btn btn-primary" style="float: right;">
                                    {{sendingText}}
                                    <div class="spinner-border" v-if="isLoading" role="status" aria-hidden="true" style="width: 20px; height: 20px"></div>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/libs/vuelidate/vuelidate.min.js"></script>
<script src="~/libs/vuelidate/validators.min.js"></script>


<script src="~/js/school-manager/messaging/send-from-excel.js" asp-append-version="true"></script>