@{
    ViewBag.Title = "Reports | Daily Payments";
    Layout = "~/Views/Shared/Layout/_adminSchLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Reports</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("DailyPayments","SchReports")"> Daily Payments </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Daily Payments </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:500px;">

                   
                      <div class="row">

                            <div class="col-sm-2">  </div>
                            <div class="col-sm-3">

                                <div class="form-group">
                                <label> <strong> Date: </strong>  </label>
                                  <input v-model="paymentDate" ref="paymentDate" type="date" class="form-control" v-on:change="getData()" />

                                </div>

                            </div>

                        </div>

                        <hr />
                        <div style="height:auto;width:auto;min-height:500px;" id="reportView">  </div>


                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/js/school-manager/reports/daily-payments.js" asp-append-version="true"></script>