@{
    ViewBag.Title = "Reports | Students By Religion";
    Layout = "~/Views/Shared/Layout/_adminSchLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Reports</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("StudentsByReligion","SchReports")"> Students By Religion </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Students By Religion </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:500px;">

                    <div class="row">

                        <div class="col-sm-3"></div>

                        <div class="col-sm-3">

                            <div class="form-group">
                                <label> Religion: </label>
                                <select class="form-control mb-3" v-model="selectedReligionId" ref="selectedReligionId" v-on:change="getData()">
                                    <option value="">Select Religion</option>
                                    <option :value="religion.id" v-for="religion in religionList">{{religion.name}}</option>
                                </select>

                            </div>

                        </div>

                    </div>

                    <hr />

                    <div style="height:auto;width:auto;min-height:500px;" id="reportView">  </div>

                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/js/school-manager/reports/students-by-religion.js" asp-append-version="true"></script>