@{
    ViewBag.Title = "Employee Salary Advance";
    Layout = "~/Views/Shared/Layout/_adminPayrollLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Data Entry </a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("EmployeeSalaryAdvance","PayrollDataEntry")"> Employee Salary Advance </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Employee Salary Advance </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:500px;">


                     <fieldset class="form-group">
                        <legend><span> Search </span></legend>

                        <div class="row">

                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> <strong> Select Employee: </strong>  </label>
                                    <input id="employeeId" v-model="employeeId" type="text" class="form-control" />

                                </div>

                            </div>
                            <div class="col-sm-4"></div>

                        </div>

                    </fieldset>

                    <hr />

                    <div class="row">

                        <div class="col-sm-3">

                            <img src="https://res.cloudinary.com/rhyoliteprime/image/upload/v1533814738/images_6.png" class="height-150" style="width:150px" alt="employee_info" id="empImage" name="empImage">

                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label> Loan Date : </label>
                                <input v-model="loanDate" id="loanDate" ref="loanDate" type="text" />
                                <span class="text-danger" v-if="!$v.loanDate.required && $v.loanDate.$dirty && loanDate == ''"> Loan date is required </span>

                            </div>

                            <div class="form-group">
                                <label> <strong> Amount: </strong>  </label>
                                <input type="number" class="form-control" name="Amount" ref="amount" v-model="amount">
                                <span class="text-danger" v-if="!$v.amount.required && $v.amount.$dirty && amount == ''"> Amount is required </span>

                            </div>

                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label> <strong> Loan Type: </strong>  </label>
                                <select class="form-control mb-3" v-model="loanTypeId" ref="loanTypeId">
                                    <option value=""> Loan Type </option>
                                    <option :value="loanType.id" v-for="loanType in loanTypeList">{{loanType.name}}</option>
                                </select>
                                <span class="text-danger" v-if="!$v.loanTypeId.required && $v.loanTypeId.$dirty && loanTypeId == ''"> Loan Type is required </span>

                            </div>

                        </div>

                    </div>

                    <hr />
                    <div class="row">


                        <div class="col-sm-7">


                        </div>

                        <div class="col-sm-4">

                            <button type="button" v-on:click="saveEmployeeSalaryAdvance()" class="btn btn-primary" style="float: right;"> Save </button>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<script src="~/libs/vuelidate/vuelidate.min.js"></script>
<script src="~/libs/vuelidate/validators.min.js"></script>

<script src="~/js/payroll/data-entry/employee-salary-advance.js" asp-append-version="true"></script>
