@{
    ViewBag.Title = "Employee Salary Info";
    Layout = "~/Views/Shared/Layout/_adminPayrollLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Data Entry </a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("EmployeeSalaryInfo","PayrollDataEntry")"> Employee Salary Info </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Employee Salary Info </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:500px;">

                    <div class="row">

                        <div class="col-sm-3">

                            <img src="https://res.cloudinary.com/rhyoliteprime/image/upload/v1533814738/images_6.png" class="height-150" style="width:150px" alt="employee_info" id="empImage" name="empImage">
                            <br /> <br />
                            <div class="custom-file col-md-10">
                                <input type="file" class="custom-file-input col-md-12" id="inputGroupFile01" name="myfile" onchange="">
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label> <strong> Employee: </strong>  </label>
                                <input type="text" id="employeeId" ref="employeeId" v-model="employeeId" class="form-control" />
                                <span class="text-danger" v-if="!$v.employeeId.required && $v.employeeId.$dirty && employeeId == ''"> Employee field is required </span>

                            </div>

                            <div class="form-group">
                                <label> <strong> Salary Type: </strong>  <font color="red">*</font> </label>

                                <select class="form-control" v-model="salaryType" ref="salaryType">
                                    <option> Salaried </option>
                                    <option> Hourly </option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label> <strong> Bank: </strong>  </label>
                                <select class="form-control" v-model="bankId" ref="bankId">
                                    <option value=""> Select Bank </option>
                                    <option :value="bank.id" v-for="bank in bankList"> {{bank.name}} </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label> <strong> Account No: </strong> <font color="red">*</font> </label>
                                <input type="text" class="form-control" v-model="accountNumber" ref="accountNumber" placeholder="Account No">
                                <span class="text-danger" v-if="!$v.accountNumber.required && $v.accountNumber.$dirty && accountNumber == ''"> Account number field is required </span>

                            </div>

                            <div class="form-group">
                                <label> <strong> Previous Salary: </strong>  </label>
                                <input type="number" class="form-control" v-model="previousSalary" ref="previousSalary">

                            </div>

                            <div class="form-group">
                                <label> <strong> Vacation Days Paid: </strong>  </label>
                                <input type="number" class="form-control" v-model="vacationDaysPaid" ref="vacationDaysPaid">

                            </div>
                            
                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label> <strong> Pay Type: </strong>  <font color="red">*</font> </label>
                                <select class="form-control" v-model="payType" ref="payType">
                                    <option> Cheque </option>
                                    <option> Cash </option>
                                    <option> Direct Deposit </option>
                                    <option> Mobile Wallet </option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label> <strong> Daily Hours: </strong> </label>
                                <input type="text" class="form-control" v-model="dailyHours" ref="dailyHours">

                            </div>

                            <div class="form-group">
                                <label> <strong> Bank Branch: </strong>  </label>
                                <select class="form-control" v-model="bankBranchId" ref="bankBranchId">
                                    <option value=""> Select Bank Branch </option>
                                    <option :value="branch.id" v-for="branch in bankBranchList"> {{branch.name}} </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label> <strong> Monthly Salary: </strong>  <font color="red">*</font> </label>
                                <input type="text" class="form-control" v-model="monthlySalary" ref="monthlySalary">
                                <span class="text-danger" v-if="!$v.monthlySalary.required && $v.monthlySalary.$dirty && monthlySalary == ''"> Monthly Salary field is required </span>

                            </div>

                            <div class="form-group">
                                <label> <strong> Pay Currency: </strong>  </label>
                                <select class="form-control" v-model="currencyId" ref="currencyId">
                                   <option value=""> Select Currency </option>
                                    <option :value="currency.id" v-for="currency in currencyList"> {{currency.currencyName}} ({{currency.currencyCode}}) </option>
                                </select>
                                
                            </div>

                            <div class="form-group">
                                <label> <strong> Current Hourly Rate: </strong>  </label>
                                <input type="number" class="form-control" v-model="currentHourlyRate" ref="currentHourlyRate">

                            </div>

                        </div>

                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-sm-3"> </div>

                        <div class="col-sm-4">
                            <button type="button" v-on:click="resetForm()" class="btn btn-warning"> <i class="bx bx-reset"></i> Reset </button>
                        </div>

                        <div class="col-sm-4">

                            <button type="button" :disabled="isLoading" v-on:click="saveSalaryInfo()" class="btn btn-primary" style="float: right;">
                                
                                Save

                                <div class="spinner-border" v-if="isLoading" role="status" aria-hidden="true" style="width: 20px; height: 20px"></div>
                            
                            </button>

                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
</div>

<script src="~/libs/vuelidate/vuelidate.min.js"></script>
<script src="~/libs/vuelidate/validators.min.js"></script>

<script src="~/js/payroll/data-entry/employee-salary-info.js" asp-append-version="true"></script>
