@{
    ViewBag.Title = "Employee SSNIT";
    Layout = "~/Views/Shared/Layout/_adminPayrollLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Data Entry </a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("EmployeeSsnit","PayrollDataEntry")"> Employee SSNIT </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Employee SSNIT </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:500px;">

                    
                    <fieldset class="form-group">
                        <legend><span> Search </span></legend>

                        <div class="row">

                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> <strong> Employee: </strong>  </label>
                                    <input id="employeeId" v-model="employeeId" type="text" class="form-control" />

                                </div>

                            </div>
                            <div class="col-sm-4"></div>

                        </div>

                    </fieldset>


                    <fieldset class="form-group">
                        <legend><span> Social Security </span></legend>

                           <div class="row">

                        <div class="col-sm-3">

                            <img src="https://res.cloudinary.com/rhyoliteprime/image/upload/v1533814738/images_6.png" class="height-150" style="width:150px" alt="employee_info" id="empImage" name="empImage">
                            <br /> <br />
                            <div class="custom-file col-md-10">
                                <input type="file" class="custom-file-input col-md-12" id="inputGroupFile01" name="myfile" v-on:change="previewImage(event)">
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label> Social Security No: </label>
                                <input type="text" class="form-control" v-model="socialSecurityNo" ref="socialSecurityNo" placeholder="Social Security No">
                                    <span class="text-danger" v-if="!$v.socialSecurityNo.required && $v.socialSecurityNo.$dirty && socialSecurityNo == ''"> Social Security No field is required </span>

                            </div>

                            <div class="form-group">
                                <label> Employer Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="socialSecurityFundEmployerContribution" id="ssfEmployer">
                                
                            </div>


                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label> Employee Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="socialSecurityFundEmployeeContribution" id="ssfEmployee">
                                
                            </div>



                        </div>

                    </div>                        
                    </fieldset>

                    <fieldset class="form-group">
                        <legend><span> Provident Fund </span></legend>

                        <div class="row">

                            <div class="col-sm-3"></div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> Employee Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="providentFundEmployeeContribution" id="pfEmployee">
                                     
                                </div>
                                 
                            </div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> Employer Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="providentFundEmployerContribution" id="pfEmployer">
                                     
                                </div>
                            </div>

                        </div>

                    </fieldset>

                    <fieldset class="form-group">
                        <legend><span> Second Provident Fund  </span></legend>

                        <div class="row">

                            <div class="col-sm-3"></div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> Employee Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="secondProvidentFundEmployeeContribution" id="secPFEmployee">
                                    
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> Employer Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="secondProvidentFundEmployerContribution" id="secPFEmployer">
                                     
                                </div>
                            </div>

                        </div>

                    </fieldset>

                   
                    <fieldset class="form-group">
                        <legend><span> SuperAnnuation  </span></legend>

                        <div class="row">

                            <div class="col-sm-3"></div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> Employee Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="superAnnuationEmployeeContribution" id="saEmployee">
                                    
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label> Employer Contribution: </label>
                                    <input type="text" class="e-textbox" v-model="superAnnuationEmployerContribution" id="saEmployer">
                                    
                                </div>
                            </div>

                        </div>

                    </fieldset>
                     
                    <hr />

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-8">
                            <button type="button" :disabled="isLoading" v-on:click="saveSnitInfo()" class="btn btn-primary" style="float: right;">
                                Save
                                
                                <div class="spinner-border" v-if="isLoading" role="status" aria-hidden="true" style="width: 20px; height: 20px"></div>

                            </button>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<script src="~/libs/vuelidate/vuelidate.min.js"></script>
<script src="~/libs/vuelidate/validators.min.js"></script>

<script src="~/js/payroll/data-entry/employee-ssnit.js" asp-append-version="true"></script>
