@{
    ViewBag.Title = "Student & Staff Status";
    Layout = "~/Views/Shared/Layout/_adminSchLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Setups</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("BillTypes","SchSetups")"> Student & Staff Status </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Student & Staff Status </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">
                    <div id="dataTable"></div>
                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/js/school-manager/setups/student-status.js" asp-append-version="true"></script>
