@{
    ViewBag.Title = "Terminal Report Templates";
    Layout = "~/Views/Shared/Layout/_adminSchLayout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Setups</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("TerminalReportTemplate","SchSetups")"> Terminal Report Templates </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Terminal Report Templates </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">

                    



                </div>

            </div>
        </div>


    </div>
</div>

<script src="~/js/school-manager/setups/terminal-report-templates.js" asp-append-version="true"></script>