@{
    ViewBag.Title = "Import Data | Opening Balance";
    Layout = "~/Views/Shared/Layout/_adminSchLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Import Data</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("OpeningBalances","SchImportData")"> Opening Balance </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header"> Opening Balance </h6>
            <div class="element-box">
                <div class="table-responsive" style="height:auto;width:auto;min-height:412px;">


                    <form asp-controller="SchImportData" asp-action="UploadOpeningBalancesData" enctype="multipart/form-data" method="post">

                        <div class="row">

                            <div class="col-sm-2"> </div>

                            <div class="col-sm-3">

                                <div class="form-group">
                                    <label>  <b> Class: </b> </label>
                                    <select class="form-control mb-3" name="classId" v-model="classId">
                                        <option value="">Select Class</option>
                                        <option :value="schClass.id" v-for="schClass in classList"> {{schClass.className}} </option>
                                    </select>

                                </div>

                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label> <strong> Choose File: </strong>  <a style="color:#3498DB;" href="#" v-on:click="downloadFile()"><b> Download Template </b></a> </label>
                                    <input type="file" name="customFile" class="form-control" required>

                                </div>

                            </div>

                            <div class="col-sm-2">

                                <div class="form-group">
                                    <br />
                                    <button type="submit" value="Upload" id="uploadBtn" :disabled="!enableUpload" class="alignright btn btn-primary mt-2"> Import </button>

                                </div>

                            </div>

                        </div>

                    </form>


                </div>

            </div>
        </div>


    </div>
</div>

@if (Model != null)
{
    <script>

        $(function () {
            swal("Opening Balances Successfully Imported..!", "", "success");
        });

    </script>


}


<script src="~/libs/vuelidate/vuelidate.min.js"></script>
<script src="~/libs/vuelidate/validators.min.js"></script>

<script src="~/js/school-manager/import-data/opening-balances.js" asp-append-version="true"></script>
