.e-ddl {
    border-radius: 20px !important;
    height: 37px !important;
}

.e-in-wrap {
    border-radius: 6px !important;
    /*height: 37px !important; */
}

.e-atc {
    border-radius: 6px !important;
}

.e-ddl-popup {
    border-radius: 6px !important;
}


.e-datewidget {
    height: 37px !important;
}