@using RhyoliteERP
@using Abp.Authorization.Users
@using Abp.Web.Security.AntiForgery
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    ViewBag.Title = "Users";
    AbpAntiForgeryManager.SetCookie(Context);
    Layout = "~/Views/Shared/Layout/_adminTenantLayout.cshtml";
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Manage </a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Users","Manage")"> Users </a></li>
</ul>

<div class="content-i" id="app">
    <div class="content-box" style="height: auto; width: auto; min-height: 655px;">
        <div class="row pt-4">
            <div class="col-sm-12">
                <div class="element-wrapper">

                    <h6 class="element-header"> Users </h6>

                    <div class="row d-flex justify-content-between">

                        <h6 class="d-flex justify-content-start">   </h6>

                        <button class="btn btn-outline-primary d-flex justify-content-end" v-on:click="resetModal()" type="button" data-target="#user-modal" data-toggle="modal"> Create New User</button>
                         
                    </div>


                    <div class="element-box-tp">

                        <div class="table-responsive">
                            <table class="table table-padded">
                                <thead>
                                    <tr>

                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email Address</th>
                                        <th> Status </th>
                                        <th> Actions </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="(user,index) in userList" :key="user.id">
                                        <td>
                                            <div class="">  {{user.name}} </div>
                                        </td>

                                        <td>
                                            <div class=""> {{user.surname}} </div>
                                        </td>

                                        <td>
                                            <div class=""> {{user.userName}} </div>
                                        </td>

                                        <td>
                                            <div class=""> {{user.emailAddress}} </div>
                                        </td>

                                        <td v-if="user.isActive"> <a class="badge badge-success-inverted" href="#"> Active </a></td>

                                        <td v-else><a class="badge badge-danger-inverted" href="#"> Inactive </a></td>

                                        <td class="row-actions">

                                            <a href="#" v-on:click="viewUserDetails(user)">  <i class="os-icon os-icon-pencil-2"></i> </a>

                                            <a href="#" v-on:click="deleteUser(user)" v-if="user.isActive">  <i class="os-icon os-icon-ui-15"></i> </a>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="row justify-content-between" v-if="userList.length">

                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable1_info" role="status" aria-live="polite"> Showing {{lowerBound}} - {{upperBound}} of {{totalCount}} records </div>
                            </div>

                            <div class="col-sm-12 col-md-7">

                                <div class="dataTables_paginate paging_simple_numbers">

                                    <ul class="pagination justify-content-end">

                                        <li class="paginate_button page-item" :class="{active: pageNo === page}" v-for="page in pageList" :key="page"><a href="#" aria-controls="dataTable1" data-dt-idx="1" tabindex="0" class="page-link" @@click.prevent="onPageChanged(page)"> {{ page }} </a></li>

                                    </ul>

                                </div>
                            </div>

                        </div>


                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="user-modal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> {{modalTitle}} </h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label> <strong>First Name:</strong> </label>
                                            <input type="text" class="form-control" v-model="name" ref="name" placeholder="First Name">
                                            <span class="text-danger" v-if="!$v.name.required && $v.name.$dirty"> First name field is required </span>

                                        </div>

                                        <div class="form-group">
                                            <label> <strong>Last Name:</strong> </label>
                                            <input type="text" class="form-control" v-model="surname" ref="surname" placeholder="Last Name">
                                            <span class="text-danger" v-if="!$v.surname.required && $v.userName.$dirty"> Last name field is required </span>

                                        </div>

                                        <div class="form-group">
                                            <label> <strong> Username:</strong> </label>
                                            <input type="text" class="form-control" v-model="userName" ref="userName" placeholder="Username">
                                            <span class="text-danger" v-if="!$v.userName.required && $v.userName.$dirty"> Username field is required </span>

                                        </div>

                                        <div class="form-group">
                                            <label> <strong> Email :</strong> </label>

                                            <input type="text" class="form-control" v-model="emailAddress" ref="emailAddress" placeholder="Email">
                                            <span class="text-danger" v-if="!$v.emailAddress.required && $v.emailAddress.$dirty"> Email field is required </span>

                                        </div>

                                        <div class="form-group" v-if="id == null">
                                            <label> <strong> Password :</strong> </label>
                                            <input type="password" class="form-control" ref="password" v-model="password" placeholder="*******">

                                        </div>

                                        <div class="form-group" v-if="id == null">
                                            <label> <strong> Conform Password :</strong> </label>
                                            <input type="password" class="form-control" ref="passwordConfirm" v-model="passwordConfirm" placeholder="*******">

                                        </div>

                                        <div class="form-group">
                                            <label> <strong> Role :</strong> </label>

                                            <select class="form-control mb-3" v-model="selectedRole">
                                                <option value="">Select Role</option>
                                                <option :value="role.normalizedName" v-for="role in roleList"> {{role.name}} </option>
                                            </select>
                                            <span class="text-danger" v-if="!$v.selectedRole.required && $v.selectedRole.$dirty"> Role field is required </span>

                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close </button>
                                        <button class="btn btn-primary" type="button" v-on:click="saveUser()"> Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/libs/vuelidate/vuelidate.min.js"></script>
<script src="~/libs/vuelidate/validators.min.js"></script>

<script src="~/js/manage/users.js" asp-append-version="true"></script>